<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <img src="assets/images/telugulogo.png" height="60">
    </ion-buttons>
    <ion-title class="ion-text-center"><b>Thraitha Siddhantha <br>Granthamulu</b></ion-title>
    <ion-buttons slot="end">
      <img src="assets/images/swami.jpeg" height="60">
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" id="container">
  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-card>
          <ion-row>
            <ion-col class="ion-text-center">
              <br>
              <strong>Login</strong>
            </ion-col>
          </ion-row>
          <form [formGroup]="formGrp" novalidate class="formCls">
            <ion-list>
              <ion-item>
                <ion-label position="stacked">Committee Name</ion-label>
                <ion-input type="text" formControlName="committeeName" [(ngModel)]="committeeName"
                  placeholder="Enter Committee Name"></ion-input>
              </ion-item>
              <div class="show-error">
                <div *ngIf="formGrp.get('committeeName').hasError('required') && formGrp.get('committeeName').dirty">
                  Committee Name Required
                </div>
                <div *ngIf="formGrp.get('committeeName').hasError('minLength') && formGrp.get('committeeName').dirty">
                  Committee Name minimum 3 letters
                </div>
                <div *ngIf="formGrp.get('committeeName').hasError('maxLength') && formGrp.get('committeeName').dirty">
                  Committee Name less than 50 letters</div>
                <br>
              </div>
              <ion-item>
                <ion-label position="stacked">President Name</ion-label>
                <ion-input type="text" formControlName="presidentName" [(ngModel)]="presidentName"
                  placeholder="Enter President Name"></ion-input>
              </ion-item>
              <div class="show-error">
                <div *ngIf="formGrp.get('presidentName').hasError('required') && formGrp.get('presidentName').dirty">
                  President Name Required
                </div>
                <div *ngIf="formGrp.get('presidentName').hasError('minLength') && formGrp.get('presidentName').dirty">
                  President Name minimum 3 letters
                </div>
                <div *ngIf="formGrp.get('presidentName').hasError('maxLength') && formGrp.get('presidentName').dirty">
                  President Name less than 50 letters</div>
                <br>
              </div>
              <ion-item>
                <ion-label position="stacked">Primary Email Id</ion-label>
                <ion-input type="email" formControlName="emailId1" [(ngModel)]="emailId1" placeholder="Enter email id">
                </ion-input>
              </ion-item>
              <div class="show-error">
                <div *ngIf="formGrp.get('emailId1').hasError('email') && formGrp.get('emailId1').dirty">Enter email
                  id
                </div>
                <div *ngIf="formGrp.get('emailId1').hasError('required') && formGrp.get('emailId1').dirty">
                  email id Required</div>
                <br>
              </div>
              <ion-item>
                <ion-label position="stacked">Secondary Email Id</ion-label>
                <ion-input type="email" formControlName="emailId2" [(ngModel)]="emailId2" placeholder="Enter email id">
                </ion-input>
              </ion-item>
              <div class="show-error">
                <div *ngIf="formGrp.get('emailId2').hasError('email') && formGrp.get('emailId2').dirty">Enter email
                  id
                </div>
                <div *ngIf="formGrp.get('emailId2').hasError('required') && formGrp.get('emailId2').dirty">
                  email id required</div>
                <br>
              </div>
              <ion-item>
                <ion-label position="stacked">Primary Phone Number</ion-label>
                <ion-input type="text" formControlName="phoneNumber1" [(ngModel)]="phoneNumber1"
                  placeholder="Enter Phone Number"></ion-input>
              </ion-item>
              <div class="show-error">
                <div *ngIf="formGrp.get('phoneNumber1').hasError('required') && formGrp.get('phoneNumber1').dirty">
                  Phone Number required</div>
                <div *ngIf="formGrp.get('phoneNumber1').hasError('minLength') && formGrp.get('phoneNumber1').dirty">
                  Phone Number minimum 10 digits
                </div>
                <div *ngIf="formGrp.get('phoneNumber1').hasError('maxLength') && formGrp.get('phoneNumber1').dirty">
                  Phone Number maximum 10 digits
                </div>
                <br>
              </div>
              <ion-item>
                <ion-label position="stacked">Secondary Phone Number</ion-label>
                <ion-input type="text" formControlName="phoneNumber2" [(ngModel)]="phoneNumber2"
                  placeholder="Enter Phone Number"></ion-input>
              </ion-item>
              <div class="show-error">
                <div *ngIf="formGrp.get('phoneNumber2').hasError('required') && formGrp.get('phoneNumber2').dirty">
                  Phone Number required</div>
                <div *ngIf="formGrp.get('phoneNumber2').hasError('minLength') && formGrp.get('phoneNumber2').dirty">
                  Phone Number minimum 10 digits
                </div>
                <div *ngIf="formGrp.get('phoneNumber2').hasError('maxLength') && formGrp.get('phoneNumber2').dirty">
                  Phone Number maximum 10 digits
                </div>
                <br>
              </div>

            </ion-list>
            <ion-button fill="outline" shape="round" expand="block" color="primary" [disabled]="!formGrp.valid"
              (click)="doSubmit()">Submit
            </ion-button>
          </form>
        </ion-card>

      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>